.oya-step-active, .oya-step-completed {
  font-size: 18px;
  color: var(--ion-color-black);
  margin-left: 5px;
}

.oya-header-1 {
  color: var(--ion-color-primary);
  font-size: 32px;
  line-height: 72px;
  letter-spacing: 0;
  font-weight: bold;
}

.oya-text-1 {
  font-size: 18px;
  color: var(--ion-color-black);
  line-height: 46px;
}
