<ion-grid no-padding>
  <ion-row justify-content-center>
    <ion-col size="auto">
      <ion-item lines="none">
        <ion-icon no-margin name="checkmark-circle-outline" color="primary" slot="start"></ion-icon>
        <ion-label class="oya-step-completed">
          Email
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-item lines="none">
        <ion-icon no-margin name="arrow-forward" color="primary" slot="start"></ion-icon>
        <ion-label class="oya-step-active">
          Get the app
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <div class="oya-header-1">
        All set! 😎
      </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col text-center>
      <div class="oya-text-1">
        We have sent an email to you. <br>
        <a>Open it on your phone</a> to get the OYA app.
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
