<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" class="hidden-sm hidden-sm hidden-md hidden-lg hidden-xl"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div style="width: 110px; height: auto;">
        <ion-img src="assets/oyaHorizontalBlack@3x.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-router-outlet animated="false"></ion-router-outlet>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary">
    <ion-buttons justify-content-center style="flex-wrap: wrap;">
      <ion-button>© OYA 2019</ion-button>
      <ion-button>Privacy Policy</ion-button>
      <ion-button>Terms &amp; Conditions</ion-button>
      <ion-button>GDPR</ion-button>
      <ion-button>Cookies</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

